.topnav{
    background-color: #4aaaa5;
}

.topnav h1{
    color: #777777;
}

h1{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

h2{
    color: #777777;
}

body{
    color: #777777;
}