.mainheader{
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: #ffffff;
    width: 300px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.topnav{
    position: relative;
    text-align: center;
    color: #777777;
}


h2{
    color: #777777;
}

body{
    color: #777777;
}